<shared-header [title]="folder"></shared-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="loremipsum">
    <div class="center">
      <img src="https://avatars2.githubusercontent.com/u/8322467?s=460&u=00e2ee42c81280c66dbf65da200b4e22b5ad2d99&v=4">
      <h5 class="wrap-text">Olá, Denis</h5>
    </div>
  </div>
  <div>
    <ion-row>
      <ion-col size="6" *ngFor="let item of component.menu | sortBy:'asc':'order'">
        <ion-card (click)="redirect(item)">
          <ion-card-content class="ion-text-center">
            <img src="/assets/icon/fitness.svg" class="icon-svg">
            <!-- <ion-icon [name]="item.icon" [color]="item.color"></ion-icon> -->
            <ion-card-title>{{ item.title }}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="chatbubble" color="warning"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>