ion-icon {
  font-size: 50px;
  margin: 9px;
}

ion-card {
  border: 1px solid #b4b4b4 !important;
  webkit-box-shadow: none !important;
  box-shadow: none !important;
}

::ng-deep {
  body.dark {
    ion-card {
      border: 1px solid #333333 !important;
      webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
}
