ion-icon {
  font-size: 50px;
  margin: 9px;
}

ion-card {
  background-color: white !important;
  webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin: unset;
  margin-top: 0.5rem;
  min-height: 17vh !important;
  // max-height: 17vh !important;
}

::ng-deep {
  body.dark {
    ion-card {
      background-color: #1e1e1e !important;
      webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
    .home-header {
      background: #1e1e1e !important;
      .home-header-content {
        color: white !important;
      }
    }
  }
}

.home-header {
  background: white;
  // height: 30vh;
  text-align: left;
  position: relative;
  padding-bottom: 1rem;

  .home-header-content {
    color: #1e1e1e;
    padding-top: 3vh;
  }
  // border-bottom-left-radius: 20%;
  // border-bottom-right-radius: 20%;
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
    color: #1e1e1e;
  }
}
